.heading_wrapper {
    text-align: center;
}

.heading {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 24px;
    color: var(--color-text-main);
}

.heading_description {
    padding: 0;
    margin: 0 0 40px;
    font-size: 17px;
    color: var(--color-text-description);
}

.button {
    padding: 12px 32px;
    color: var(--color-accent);
    background-color: var(--color-main);
    border: none;
    border-radius: var(--border-34);
    font-size: 17px;
    font-weight: 800;
    cursor: pointer;
    height: 48px;
    white-space: nowrap;
}

.button:hover {
    background-color: var(--color-main-pale);
}

.button-accent {
    color: var(--color-main);
    background-color: var(--color-accent);
}

.button-accent:hover {
    background-color: #0C47AFFF;

}

.separator {
    height: 1px;
    background-color: var(--color-separator);
    border: none;
}

.separator_accent {
    background-color: var(--color-separator-accent);
}

@media (max-width: 690px) {
    .heading_wrapper {
        text-align: left;
    }
}
