.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 24px;
}

.header {
    background-color: var(--color-accent);
}

.header__logo a {
    font-size: 36px;
    font-weight: 900;
    color: var(--color-main);
}

a.header__account {
    padding: 12px 32px;
}

.header__account:hover {
    cursor: pointer;
}

.header__mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 960px) {
    a.header__account {
        display: none;
    }
    .header__mobile-menu-btn {
        display: block;
    }
}

@media (max-width: 480px) {
    .header__logo a {
        font-size: 24px;
        font-weight: 900;
    }
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
}

.menu__item a {
    font-size: 18px;
    color: var(--color-main-pale);
}

.menu__item:hover a {
    color: var(--color-main);
}

@media (max-width: 960px) {
    .menu {
        display: none;
    }
}
