body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    margin: 0 0 80px;
}

.logo {
    background: #4B5563;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.text_logo {
    font-size: 18px;
}

.menu-left {
    display: flex;
    gap: 77px;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: #FFFFFF;
}

input {
    border: none;
    background: transparent;
    color: #FFFFFF60;
}

input:focus {
    outline: none;
    border: none;
    color: #FFFFFF60;
}

.input-container {
    background: #1F293799;
    width: 224px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 17px;
}

.author-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 0 28px 0;
}

.author-name {
    margin: 0 0 3px 0;
}

.author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    padding: 0;
}

.author-title {
    color: #FFFFFF60;
    margin: 0;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    margin: 0 0 30px 0;
}

.article-container {
    width: 708px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theme-date {
    display: flex;
    gap: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    margin: 0 0 14px 0;
    color: #FFFFFF60
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 0 0 69px 0;
}

.img-monitor {
    width: 896px;
    height: 594px;
    border-radius: 5px;
    object-fit: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.text-container p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.text-container p:first-child {
    font-size: 20px;
    line-height: 32px;
}

footer {
    margin-top: 100px;
}

footer p {
    margin: 0;
    text-align: center;
    color: #FFFFFF60
}
